.banner {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/ny.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.Axit {
  width: 1170px;
  height: 1026px;
  margin: 0 auto;
  display: flex;
}
.Axit-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Axit-left__title {
  color: #fff;
  font-family: "Raleway" sans-serif;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 73px;
}
.Axit-left-separator {
  width: 170px;
  height: 1px;
  background: #fff;
  margin-top: 29px;
  margin-bottom: 42px;
}
.Axit-left__subtitle {
  color: #fff;
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 42px;
}
.Axit-left__download {
  width: 270px;
  height: 58px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans" sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  background: none;
  border: 1px solid white;
  margin-left: 0px;
}
.Axit-right {
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Axit-right_form {
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 450px;
}
.Axit-right_form__title {
  display: flex;
  justify-content: center;
  color: #333;
  text-align: center;
  font-family: "Open Sans" sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 29px 0px 29px 0px;
}
.Axit-right_form__title-free {
  color: #ec7979;
  font-family: "Open Sans" sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}
.Axit-right_form__box {
  width: 370px;
  color: #bdbdbd;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 33px;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 31px;
}
.Axit-right_form__box:after {
  content: "";
  width: 370px;
  height: 1px;
  background: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.Axit-right_form__button {
  width: 468.939px;
  height: 60px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  background-color: #ec7979;
  margin-top: 89px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid white;
  padding-top: 12px;
}
