.design {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/image.png);
  height: 442px;
  /* position: relative; */
  display: block;
}
.design-block {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.design-block_title {
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  /* position: absolute; */
  width: 100%;
  color: white;
  margin-top: 50px;
}
.design-block_title:after {
  content: "";
  width: 170px;
  height: 1px;
  background-color: #fff;
  display: block;
  margin: 54px auto 0;
  margin-top: 50px;
}
.design-block__subtitle {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  /* position: absolute; */
  margin-top: 40px;
}
.design-block_button {
  width: 370px;
  height: 58px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 auto;
  background: none;
  text-align: center;
  border: 2px solid white;
  margin-top: 100px;
}
