.tabs {
  width: 1170px;
  margin: 0 auto;
}

.container-tabs {
  width: 1170px;
  height: 40px;
  display: flex;
}

.container-tabs__tab {
  display: inline-block;
  width: 184px;
  text-align: center;
  border-bottom: 1px solid #c6cbcd;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  text-transform: uppercase;
  line-height: 40px;
}

.wide-tab {
  display: inline-block;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #c6cbcd;
  border-bottom: white;
  color: #000;
  text-decoration: none;
}

.container-content {
  border: 1px solid #c6cbcd;
  border-top: none;
}

.left {
  display: inline-block;
  width: 532px;
  vertical-align: top;
  padding-left: 69px;
  padding-right: 30px;
  box-sizing: content-box;
  margin-top: 47px;
}

.right {
  display: inline-block;
}

.left__title {
  color: #000;
  font-family: Open Sans;
  font-size: 30px;
}

.left__subtitle {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 100;
  margin-top: 40px;
  margin-bottom: 31px;
}

.left__button {
  width: 270px;
  height: 58px;
  background-color: coral;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  color: white;
  border: none;
}

.right__image {
  width: 470px;
  height: 500px;
  margin-left: 62px;
}

.container-tabs__space {
  display: inline-block;
  height: 40px;
  border-bottom: 1px solid #c6cbcd;
  width: 618px;
}
